* {
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
    background-color: #bdc3c7;
    font-size: 1.1em;
}

header, h2,#input{
    text-align: center;
}

.settings,#To-do,#Done{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#To-do{
    list-style-type:none;
    display: flex;
    justify-content: space-between;
    margin: 0.5em;
}

#Done{
    list-style-type:none;
}

.add,.option,.edit,.delete,.delete-all,.check-todo,.check-done{
    cursor:pointer;
    border:0 none;
    background: transparent;
    transition: all 1s ease;
}
.add:hover,.option:hover,.edit:hover,.delete:hover,.delete-all:hover{
    transform: rotate(360deg);
}

.add{
    color: green;
    font-size: 4em; 
}

.option{
    color: #606266;
    font-size: 4em; 
}

.edit{
    color: #333bd4;
    font-size: 2em; 
}

.delete{
    color: red;
    font-size: 2em; 
}

.delete-all{
    color: black;
    font-size: 3em;
}

.check-todo:hover,.check-done:hover{
    opacity: 1;
}

.check-todo{
    opacity: 0.5;
    color: green;
    font-size: 2em;  
}
.check-done{
    opacity: 0.5;
    color: red;
    font-size: 2em;  
}
#input{
    position: absolute;
    top: -13.5em;
    left: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 13.5em;
    width: 25em;
    background-color: #aaa69d;
    transition: 0.5s;
}

#validate,#cancel {
    cursor:pointer;
    border:0 none;
    background: transparent;
    transition: all 1s ease;
    font-size: 5em;
}

#validate{
    color: white;
}

#validate:hover{
    color: green;
}

#cancel{
    color: black;
}

#cancel:hover{
    color: red;
}

#VCButton{
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
}

#task{
    font-size: 1.5em;
    border: 0;
    padding: 0;
    margin: 0;
}

#titleAdd{
    font-size: 2em;
}